body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: white;
}

.info {
  text-align: center;
}

a:link {
  color: pink;
}

strong {
  color: pink;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.public {
  text-align: right;
}

.search {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  align-self: center;
}




